<body class="asa">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<a href="/"><img src="/img/logo.png"></a>
					</div>
					{{#if warning}}
					<div class="alert alert-warning" role="alert">
							{{warning}}
					</div>
					{{/if}}
					{{#if danger}}
					<div class="alert alert-danger" role="alert">
							{{danger}}
						<button type="button" class="close" data-dismiss="alert">
						<span aria-hidden="true">×</span>
						</button>
					</div>
					{{/if}}
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Registro</h4>
							<form action="/register" method="POST">
							 
								<div class="form-group">
									<label for="username">Nombre de usuario</label>
									<div class="alert alert-info" style="font-size:10px;" role="alert">
									<button type="button" class="close" data-dismiss="alert">
										<span aria-hidden="true">×</span>
									</button>
										El nombre de usuario debe tener al menos 3 carácteres de largo.
									</div>
									<input id="username" type="text" class="form-control" name="username" autocomplete="off" required autofocus>
								</div>

                                <div class="form-group">
									<label for="fullname">Nombre</label>
									<div class="alert alert-info" style="font-size:10px;" role="alert">
									<button type="button" class="close" data-dismiss="alert">
										<span aria-hidden="true">×</span>
									</button>
										El nombre debe tener al menos 3 carácteres de largo.
									</div>
									<input id="fullname" type="text" class="form-control" name="fullname" autocomplete="off" required autofocus>
								</div>

								<div class="form-group">
									<label for="email">Correo eléctronico</label>
									<div class="alert alert-info" style="font-size:10px;" role="alert">
									<button type="button" class="close" data-dismiss="alert">
										<span aria-hidden="true">×</span>
									</button>
										El correo eléctronico debe tener un formato correcto, por ejemplo: example@pizzaslaonce.com
									</div>
									<input id="email" type="email" class="form-control" name="email" autocomplete="off" required autofocus>
								</div>
								<div class="form-group">
									<label for="password">Contraseña</label>
									<div class="alert alert-info" style="font-size:10px;" role="alert">
									<button type="button" class="close" data-dismiss="alert">
										<span aria-hidden="true">×</span>
									</button>
										El contraseña debe tener al menos 8 carácteres de largo.
									</div>
									<input id="password" type="password" class="form-control" name="password" autocomplete="off" required data-eye>
								</div>

								<div class="form-group no-margin">
									<button type="submit" class="btn btn-primary btn-block" style="cursor:pointer">
										Registrarse
									</button>
								</div>
								<div class="margin-top20 text-center">
									¿Ya tienes una cuenta? <a href="/login">inicia sesión</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						PIZZAS LA ONCE 2022
					</div>
				</div>
			</div>
		</div>
	</section>
	

	<script src="/js/jquery.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/js/log.js"></script>
</body>